<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
    <div id="onlineFriends">
    
    </div>
</div>

<%- include('parts/scripts') %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/home.js"></script>

</body>
</html>